/bin/
/CMakeFiles/
/legacy/
/cmake_install.cmake
/CMakeCache.txt
/Makefile
/.cproject
/.project
/.pydevproject
/.settings/
**/__pycache__/
**/.fuse_hidden*
/CMakeLists.txt~
/.idea/
/[Source directory]/
/doc/
/[Source directory]/
/perf.data
/perf.data.old
/oprofile_data/
/html/
/CMakeLists.txt.user
/compile_commands.json
/Felt.cbp
/Felt.kdev4
/.kdev4/
/build/
/Testing/
